<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACt2yXoR8S9HvTBl7sVUaOE3IVlvxwM0s</string>
	<key>GCM_SENDER_ID</key>
	<string>348512527529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.hs.ghas.lunch</string>
	<key>PROJECT_ID</key>
	<string>ghaslunch1</string>
	<key>STORAGE_BUCKET</key>
	<string>ghaslunch1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348512527529:ios:9830ef3a5b5ce69ada75b8</string>
	<key>DATABASE_URL</key>
	<string>https://ghaslunch1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>